<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('//blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <hr class="small">
          <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each model as |post|}}
      <div class="post-preview">
        {{#link-to 'post' post.id}}
        <h2 class="post-title">
        {{post.title}}
        </h2>
        <h3 class="post-subtitle">
        {{{post.excerpt}}}
        </h3>
        {{/link-to}}
        <p class="post-meta">Posted by {{link-to post.author.name 'user' post.author.id}} on {{moment-format post.date}}</p>
      </div>
      <hr>
      {{/each}}
      <!-- Pager -->
      Page {{page}} of {{totalPages}}
      {{#if (lt page totalPages)}}
        <ul class="pager">
          <li class="next">
            {{#link-to 'posts' (query-params page=nextPage)}}
              Older Posts &rarr;
            {{/link-to}}
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div>
